<script language="JavaScript">
<!--
   // Get the current location
var _currentLocationSupported = true;
function checkMe() {
	if ( navigator.geolocation)
	{
		navigator.geolocation.getCurrentPosition(showCurrentLocation, showCurrentLocationError);
	}
	else
	{
		_currentLocationSupported = false;
	}	
}

function showCurrentLocation( position )
{
	window.location.href = window.location.protocol + "//" + window.location.host + "/me?latitude=" + position.coords.latitude + "&longitude=" + position.coords.longitude
}

function showCurrentLocationError(error)
{
	switch( error.code ) 
	{
	case error.PERMISSION_DENIED:
		console.log("User denied the request for Geolocation.");
		break;
	case error.POSITION_UNAVAILABLE:
		console.log("Location information is unavailable.");
		break;
	case error.TIMEOUT:
		console.log("The request to get user location timed out.");
		break;
	case error.UNKNOWN_ERROR:
		console.log("An unknown error occurred.");
		break;
	}
	_currentLocationSupported = false;
	alert("You're not going to get an invite if you play it coy.");
}
//-->
</script>


The following people are near enough to party at Intercom:
<% if !@nearby_sorted_users.blank? %>
  <% for item in @nearby_sorted_users %>
	<p>
    	<%= item["name"] %> [<%= item["user_id"]%>] (<%= item["distance_km"].round(2) %> km away)
	</p>
  <% end %>
<% else %>
<p>  We have no nearby people...</p>
<% end %>

<br/>
<h2><a href="#" onClick="checkMe()">Am <b>I</b> near enough to get an invite to the party?</a></h2>
<br/>
<br/>