The following people are near enough to party at Intercom:
<% if !@nearby_users.blank? %>
  <% for item in @nearby_sorted_users %>
	<p>
    	<%= item["name"] %> (<%= item["distance_km"].round(2) %> km away)
	</p>
  <% end %>
<% else %>
<p>  We have no nearby people...</p>
<% end %>
